<style>
    @font-face {
        font-family: 'Domine Regular';
        src: url({{ "fonts/Domine/Domine-Regular.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Domine Bold';
        src: url({{ "fonts/Domine/Domine-Bold.ttf" | absURL }}) format('truetype');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Domine Italic';
        src: url({{ "fonts/Domine/Domine-Italic.ttf" | absURL }}) format('truetype');
        font-weight: normal;
        font-style: italic;
    }



    body {
        font-family: "Open Sans Regular";
    }
</style>
